.deleteIcon {
    padding: 5px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    margin-bottom: 5px;
    border-bottom: 1px solid transparent;
    color: red;
}

.deleteIcon:hover {
    cursor: pointer;
    font-size: 30px;
    color: rgb(190, 190, 13);
}

.text-content:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 20px;
    text-decoration: underline;
    background-color: white;
}

.reminder {

    border-left: 15px solid green;
}